[submodule "ext/include/cgltf"]
	path = ext/include/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "ext/include/sokol"]
	path = ext/include/sokol
	url = https://github.com/floooh/sokol
[submodule "ext/include/stb"]
	path = ext/include/stb
	url = https://github.com/nothings/stb
[submodule "ext/include/cimgui"]
	path = ext/include/cimgui
	url = https://github.com/cimgui/cimgui/
[submodule "ext/include/json.h"]
	path = ext/include/json.h
	url = https://github.com/sheredom/json.h
